h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

header {
  
}

table {
  border: 5px solid black;
  margin: 5px;
}

th {
  background-color: black;
  color: white;
}

td, th {
  padding: 5px;
  border: 1px black solid;
}

